#about-wrapper {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px 7%;
    background-color: white;
    border: 2px solid black
}

section#team {
    text-align: center;
}

section#team .member {
    display: inline-block;
    width: 25%;
    padding: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
}

    section#team .member > img {
        width: 100%;
        border: 2px black solid;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    section#team  .member > h3 {
        margin-bottom: 0.3em;
    }
    
    section#team  .member .hr {
        width: 20%;
        height: 2px;
        background-color: #ddd;
        margin: 0px auto;
        margin-bottom: 17px;
    }

    section#team .member .position {
        font-style: italic;
    }
    
    section#team  .member ul {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    section#team  .member ul li {
        float: left;
    }

.map-icons {
    padding: 10px 0;
    vertical-align: middle;
}

@media (max-width: 699px) {
    #about-wrapper {
      position: static;
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
      transform: none;
      width: 100%;
      border: none;
      padding: 0;
    }

    section {
      padding: 20px;
    }

      section#team .member {
        display: block;
        width: 90%;
        margin: 0 auto;
      }

    .map-icons {
      text-align: center;
    }
}
