<head>
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="cigarettes, smokes, darts, search, tpb, trailer park boys">
    <meta name="author" content="Mark Monteiro">

    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ios webclip icons -->
    <link rel="apple-touch-icon" href="ios/icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="res/icon/ios/icon-72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="res/icon/ios/icon-72-2x.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="res/icon/ios/icon-72-2x.png" />

    <!-- Javascript -->
    <script src="lib/jquery/jquery-2.1.1.min.js"></script>
    <!-- Note: remove the API key to test locally -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBWTKO3YSNWN2o_EmEPZ3A4thUvg75moE&libraries=places" type="text/javascript"></script>
    <script src="js/site.js" type="text/javascript"></script>
    <script src="js/index.js" type="text/javascript"></script>
    
    <!-- Stylesheets -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href="/css/site.css" rel="stylesheet" type="text/css">
    {% if page.css %}<link href="{{ page.css }}" rel="stylesheet" type="text/css">{% endif %}

    <!-- Plausible Analytics -->
    <script async defer data-domain="smokesletsgo.com" src="https://plausible.markmonteiro.info/js/plausible.js"></script>
</head>
